In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\archive (27)\advertising.csv")
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [3]:
X = df.drop('Sales', axis=1)
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [4]:
y = df['Sales']
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=101)

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()

In [9]:
scaled_X_train = scaler.fit_transform(X_train)

In [10]:
X_train = scaler.transform(X_train)

In [11]:
X_test = scaler.transform(X_test)

In [12]:
from sklearn.linear_model import Ridge

In [13]:
model = Ridge(alpha=100)

In [14]:
model.fit(X_train, y_train)

Ridge(alpha=100)

In [15]:
y_pred = model.predict(X_test)

In [16]:
y_pred = model.predict(X_test)

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
MSE = mean_squared_error(y_pred, y_test)
MSE

3.6042471952623236

In [19]:
model2 = Ridge(alpha=1)

In [20]:
model2.fit(X_train, y_train)

Ridge(alpha=1)

In [21]:
ypred2 = model2.predict(X_test)

In [22]:
MSE = mean_squared_error(ypred2, y_test) #without any validation data
MSE

2.1898080091705667

In [23]:
RMSE = np.sqrt(MSE)
RMSE

1.4797999895832432

In [24]:
X_train, X_other, y_train, y_other = train_test_split(X,y, test_size=0.3, random_state=101)

In [25]:
# test size = 0.3(50% of the 30% data)

X_eval, X_test, y_eval, y_test = train_test_split(X_other,y_other, test_size=0.5, random_state=101)

In [26]:
len(df)

200

In [27]:
len(X_train)

140

In [28]:
len(X_other)

60

In [29]:
len(X_eval)

30

In [30]:
len(X_test)

30

In [31]:
X_train = scaler.transform(X_train)

In [32]:
X_test = scaler.transform(X_test)

In [33]:
 #validation data
    
X_eval = scaler.transform(X_eval)

In [34]:
model3 = Ridge(alpha =100)

In [35]:
model3.fit(X_train, y_train)

Ridge(alpha=100)

In [36]:
y_eval_pred = model3.predict(X_eval)

In [37]:
MSE = mean_squared_error(y_eval_pred, y_eval)
MSE

7.496742809563406

In [38]:
model4 = Ridge(alpha =1)

In [39]:
model4.fit(X_train, y_train)

Ridge(alpha=1)

In [40]:
model4.fit(X_train, y_train)

Ridge(alpha=1)

In [41]:
new_pred_eval = model4.predict(X_eval)

In [42]:
MSE = mean_squared_error(new_pred_eval, y_eval)
MSE

3.030866252454841

In [43]:
 #final evaluation on the test set
    
y_final_test_pred = model4.predict(X_test)

In [44]:
 #final evaluation on the test set
    
y_final_test_pred = model4.predict(X_test)

In [45]:
 # for training-testing-validation case
    
MSE = mean_squared_error(y_test, y_final_test_pred)
MSE

2.6792627897656995

KFold CrossValidation

In [47]:
## CREATE X and y
X = df.drop('Sales',axis=1)
y = df['Sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [48]:
from sklearn.model_selection import cross_val_score

In [49]:
model = Ridge(alpha=100)

In [50]:
scores = cross_val_score(model, X_train, y_train,scoring='neg_mean_squared_error', cv=5)

In [51]:
abs(scores.mean())

8.4182853579142

In [52]:
model2 = Ridge(alpha=1)

In [53]:
scores3 = cross_val_score(model2, X_train, y_train,scoring='neg_mean_squared_error', cv=5)
scores3

array([-3.77037806, -0.9534648 , -4.55448383, -2.28781819, -2.41358744])

In [54]:
abs(scores3.mean())

2.795946464604475

In [55]:
model2.fit(X_train, y_train)

Ridge(alpha=1)

In [56]:
 #prediction on the final test set(final evaluation)
    
y_final_test_pred = model2.predict(X_test)

In [57]:
MSE = mean_squared_error(y_test, y_final_test_pred) # for training-testing-validation case
MSE

2.855437860881443

In [58]:
## CREATE X and y
X = df.drop('Sales',axis=1)
y = df['Sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [59]:
from sklearn.model_selection import cross_validate

In [60]:
model = Ridge(alpha=100)

In [61]:
scores = cross_validate(model, X_train, y_train, scoring= ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=10)

In [62]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002999,0.002000,-6.941805,-1.994661
1,0.002994,0.001002,-11.933734,-3.078761
2,0.001995,0.001005,-3.691725,-1.572959
3,0.002004,0.001992,-5.152488,-1.934817
4,0.001001,0.001000,-7.133309,-2.014902
5,0.001999,0.000999,-12.263494,-2.410244
6,0.002000,0.000999,-5.820111,-2.170838
7,0.001001,0.001997,-10.117413,-2.550594
8,0.000998,0.000998,-8.650715,-2.507374
9,0.001000,0.001999,-4.995668,-1.516742

In [63]:
scores.mean()

fit_time                        0.001799
score_time                      0.001399
test_neg_mean_squared_error    -7.670046
test_neg_mean_absolute_error   -2.175189
dtype: float64

In [64]:
model = Ridge(alpha=1)

In [65]:
scores = cross_validate(model, X_train, y_train, scoring= ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=5)

In [66]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002997,0.002000,-3.770378,-1.485427
1,0.003000,0.001000,-0.953465,-0.835676
2,0.002999,0.001999,-4.554484,-1.445486
3,0.001999,0.001998,-2.287818,-1.182946
4,0.002001,0.001995,-2.413587,-1.194008

In [67]:
scores.mean()

fit_time                        0.002599
score_time                      0.001798
test_neg_mean_squared_error    -2.795946
test_neg_mean_absolute_error   -1.228709
dtype: float64

In [68]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [69]:
y_final_pred = model.predict(X_test)

In [70]:
mean_squared_error(y_test, y_final_pred)

2.855437860881443

GridSearchCV

In [71]:
## CREATE X and y
X = df.drop('Sales',axis=1)
y = df['Sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [72]:
from sklearn.linear_model import ElasticNet

In [73]:
base_elastic_model = ElasticNet()

In [74]:
param_grid = {'alpha': [0.1,1,5,10,100], 'l1_ratio':[0.1, 0.5, 0.7, 0.9, 1]}

In [75]:
from sklearn.model_selection import GridSearchCV

In [77]:
grid_model = GridSearchCV(estimator = base_elastic_model, param_grid = param_grid, scoring='neg_mean_squared_error', cv=5)

In [78]:
grid_model.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 5, 10, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 1]},
             scoring='neg_mean_squared_error')

In [79]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [80]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [81]:
pd.DataFrame(grid_model.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003398,0.003876,0.001200,0.000400,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-4.131482,-0.811910,-4.849386,-2.528035,-2.614127,-2.986988,1.404209,5
1,0.001798,0.000402,0.000799,0.000400,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-4.018442,-0.781203,-4.706719,-2.424489,-2.514059,-2.888982,1.369591,4
2,0.001599,0.000489,0.000798,0.000399,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.971075,-0.776942,-4.643757,-2.383816,-2.477331,-2.850584,1.351159,3
3,0.002199,0.000747,0.000999,0.000632,0.1,0.9,"{'alpha': 0.1, 'l1_ratio': 0.9}",-3.930936,-0.781241,-4.587436,-2.351895,-2.451265,-2.820555,1.331888,2
4,0.002799,0.000400,0.000799,0.000400,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",-3.913879,-0.786910,-4.562050,-2.339577,-2.442718,-2.809027,1.321916,1

In [82]:
y_pred = grid_model.predict(X_test)

In [83]:
mean_squared_error(y_test, y_pred)

2.775007447413754